.Forgot-password-page-container {
    padding-top: 10%;
    text-align: center;
}

.Forgot-password-form-container {
    max-width: 300px;
    margin: auto;
}

.Forgot-password-form-container label {
    float: left;
}

.Forgot-password-form-container a {
    display: inline-block;
    padding-top: 10px;
}
.Forgot-password-form-container a:hover {
    cursor: pointer;
    border-bottom: 1px solid #2185d0;
}

.Forgot-password-form-container button {
    background-color: #002145;
    display: block;
    color: white
}

.Forgot-password-form-container button:hover {
    background-color: #004fa7;
    transition: all 0.3s ease-in-out 0s;
}

.Forgot-password-form-message {
    float: right;
    color: #ae5856;
}