.ui.search>.results {
    left: calc(50% - 10em) !important;
    width: 20em !important;
}

.ui.search>.results .content {
    text-align: left;
}

.search .ui.icon.input {
    width: 300px;
}

.course.search {
    margin-top: 50px;
}

.course.search .ui.card {
    width: 100%;
    height: 100%;
}

.course.search .item {
    padding: 1px 0 1px 0;
}